<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin :: User Manager</title>

    <script src="../../../javascript/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../javascript/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap/bootstrap.min.css" />

    <script src="../../../javascript/angular/angular.min.js"></script>
    <script src="../../../javascript/angular/angular-route.min.js"></script>

    
    <script src="UserController.js"></script>
    
</head>
<body ng-app="UserApp">
    <div class="container">
        <h1 class="text-center">User Manager</h1>

        <div ng-controller="UserController" ng-init="get()">
            <table class="table table-responsive">

                <colgroup>
                    <col style="width:30%" />
                    <col style="width:30%" />
                    <col style="width:20%" />
                    <col style="width:10%" />
                    <col style="width:10%" />
                </colgroup>
                <thead>
                    <tr>
                        <td><h3>User Name</h3></td>
                        <td><h3>Password</h3></td>
                        <td><h3>Creation Time</h3></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" />
                        </td>
                        <td>
                            <input id="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" />
                        </td>
                        <td>
                            <span class="form-control" style="background-color:lightgrey" ng-show="selectedIndex||selectedIndex==0">{{user.creationDateTime | date:'medium'}}</span>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="clear()" ng-show="user.username">
                                <span class="glyphicon glyphicon-repeat"></span> Clear
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success" ng-click="add(user)" ng-show="! (selectedIndex || selectedIndex==0)" ng-disabled="!user || user.$invalid">
                                <span class="glyphicon glyphicon-ok-sign"></span> Add User
                            </button>
                            <button class="btn btn-warning" ng-click="update(user)" ng-show="selectedIndex||selectedIndex==0">
                                <span class="glyphicon glyphicon-upload"></span> Update User
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td><span>{{user.creationDateTime | date:'medium'}}</span></td>
                        <td>
                            <button ng-click="delete(user._id)" class="btn btn-danger center-block">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="edit(user._id)" class="btn btn-warning center-block">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
