<div class="container" ng-init="initalize()">
    <p class="md-display-1">Add a carpool</p>
    <form name="carpoolForm">
        <input required type="text" class="form-control" name="source" ng-model="carpool.source" value="source" googleplace="" placeholder="Enter the pick-up location" ng-required="true"><br />
        <input required type="text" class="form-control" name="destination" ng-model="carpool.destination" value="destination" googleplace="" placeholder="Enter the drop-off location" ng-required="true"><br />
        <datetimepicker min-date="minDate" max-date="maxDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="seletedDate" show-meridian="showMeridian" date-format="dd-MMM-yyyy" ng-required="true"></datetimepicker>

        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" min="0" class="form-control" aria-label="Cost" ng-model="carpool.cost" placeholder="Cost per person" ng-required="true">
            <span class="input-group-addon">.00</span>
        </div>
        <br />

        <select ng-init="carpool.numberOfPassenger = 1" class="form-control" id="sel1" ng-model="carpool.numberOfPassenger" ng-required="true">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <br />
        <textarea class="form-control" rows="5" id="memo" placeholder="Enter additional details" ng-model="carpool.memo"></textarea>
        <br />


        <button ng-disabled="!currentUser" class="btn btn-success btn-block" ng-click="carpoolForm.$valid && addCarpool(carpool)">Add to carpool</button><br />
        <!--<br />
        <iframe width="600"
                height="450"
                frameborder="0" style="border:0"
                ng-src="{{mapurl}}" ng-show="mapurl"></iframe>-->
    </form>
</div>