<div ng-init="initialize()">
    <div class="container-fluid">
        <div class="row">
            <p class="md-headline" style="text-align:center"><b>Carpool</b></p>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <input id="search" class="form-control" placeholder="Search carpool" ng-model="query.$" autofocus />
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5" style="padding-right: 0px">
                <button class="btn btn-hollow btn-block" style="padding-right:0px" ng-show="!reverse" ng-click="setReverseTrue()">Change to Newest first</button>
                <button class="btn btn-hollow btn-block" style="padding-right:0px" ng-show="reverse" ng-click="setReverseFalse()">Change to Oldest first</button>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5" style="padding-left: 0px; padding-right:0px">
                <a class="btn btn-green-onhover-hollow btn-block" href="#/addcarpool">
                    <span class="glyphicon glyphicon-pencil"></span><span class="md-body-1">Add New Carpool</span>
                </a>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        
        <br />

        <div class="row">
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <md-card ng-repeat="post in posts | filter:query | orderBy:orderByProperty:reverse">
                    <md-toolbar ng-click="cardOnClick(post._id)">
                        <div class="md-toolbar-tools">
                            <ng-md-icon icon="arrow_forward" style="fill:white"></ng-md-icon>
                                <h3 class="md-toolbar-tools">Carpool for {{post.destination}}</h3>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <div id="cardDiv" ng-click="cardOnClick(post._id)">
                            <p ng-show="post.isClose" style="text-align:center;font-size:large">
                                <span class="label label-danger">Carpool is full</span>
                            </p>
                            <p><b>Pick-up:</b> {{post.source}}</p>
                            <p><b>Drop-off:</b> {{post.destination}}</p>
                            <p class="md-subhead">
                                <span class="glyphicon glyphicon-time"></span>
                                {{post.date | date:'fullDate' }} at {{post.date | date:'shortTime' }}
                            </p>
                            <p class="md-title" style="color:#4CAF50">
                                <span ng-show="post.cost===0"><b>Free</b></span>
                                <span ng-hide="post.cost===0"><b>${{post.cost}}</b></span>
                                
                                <img class="pull-right" ng-repeat="n in []| range: post.numberOfPassenger" src="../../images/icons/ic_person_24px.svg" style="width:24px;height:24px" />
                            </p>
                            
                            <p ng-show="post.comments.length!=0" style="padding-top: 5px" class="md-caption">{{post.comments.length}} comments posted</p>
                            <p ng-show="post.comments.length==0" style="padding-top: 5px" class="md-caption">Be the first to comment..</p>
                        </div>
                    </md-content>
                    <md-card-footer>
                        Posted on {{post.createdAt | date:'short'}} by <a href="#/view/user/{{post.postedBy._id}}" style="text-transform: capitalize;">{{post.postedBy.username}}</a>
                    </md-card-footer>
                </md-card>
            </div>
            <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>

