<div ng-init="initialize()" class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="md-display-1" href="#/view/post/{{post._id}}">Carpool for {{post.destination}}</p>
            <p class="title" style="padding: 0px; margin: 0px; text-transform: capitalize;">By:<a href="#/view/user/{{post.postedBy._id}}">{{post.postedBy.username}}</a></p>
            <p ng-show="post.isClose" style="text-align:center;font-size:large">
                <span class="label label-danger">Carpool is full</span>
            </p>
            <img style="width: 100%; height: 2px;" src="../../images/line.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">

            {{loaded}}
            <div id="diVLoad">
                <md-progress-linear ng-hide="loaded" md-mode="indeterminate"></md-progress-linear>
            </div>
            <!--width="600"
                height="450"-->

            <iframe id="ifmGoogleMAp"
                    frameborder="0" style="border:0; width:100%; height:450px"
                    ng-src="{{mapurl}}" ng-show="mapurl" onload="abc()"></iframe>

        </div>
        <div class="col-xs-0 col-sm-1 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><b>Pick-up:</b> {{post.source}}</p>
            <p><b>Drop-off:</b> {{post.destination}}</p>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                {{post.date | date:'fullDate' }} at {{post.date | date:'shortTime' }}
            </p>
            <p>
                <b>Cost:</b>
                <span style="color:#4CAF50">
                    <span ng-show="post.cost===0"><b>Free</b></span>
                    <span ng-hide="post.cost===0"><b>${{post.cost}}</b></span>

                    
                </span>
            </p>
            <p>
                <b>Number of co-passengers:</b>
                <img ng-repeat="n in []| range: post.numberOfPassenger" src="../../images/icons/ic_person_24px.svg" style="width:24px;height:24px" />
            </p>
            <p>
                <b>Other details:</b> {{post.memo}}
            </p>
        </div>
        
    </div>
    <md-toolbar class="md-theme-dark" ng-hide="post.comments.length===0">
        <h2 class="md-toolbar-tools">
            <span>Comments</span>
        </h2>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="c in post.comments">
                <img ng-src="{{c.commentedBy.imgUrl || defaultIcon}}" class="face">
                <div class="md-list-item-text">
                    {{c.comment}}
                    <h4>
                        <a href="#/view/user/{{c.commentedBy._id}}">{{c.commentedBy.username}}</a>
                    </h4>
                    <!--<p>{{item.notes}}</p>-->
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
        

    <div class="row" ng-show="currentUser && !post.isClose">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <textarea id="comment" class="form-control" ng-model="newcomment.comment" placeholder="Add a comment"></textarea>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <button class="btn btn-block btn-primary" ng-click="addComment(newcomment)">Add comment</button>
        </div>
    </div>

    <div class="row" ng-show="post.postedBy._id === currentUser._id">
        <img style="width: 100%; height: 2px;" src="../../images/line.png" />
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <button class="btn btn-warning btn-block" ng-show="!post.isClose" ng-click="confimClose($event)">Carpool Full</button>
            <button class="btn btn-danger btn-block" ng-click="confimDelete($event, post._id)">Delete Carpool</button>
        </div>
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
    </div>

    <!--<h3 ng-show="post.type == 'need'">Need a Carpool</h3>
    <h3 ng-show="post.type == 'available'">Require a Carpool</h3>
    <p>Destiantion:{{post.destination}}</p>
    <p>Source: {{post.source}}</p>-->
    <!--
    <div>
        {{loaded}}
        <div id="diVLoad" >
            <md-progress-linear ng-hide="loaded" md-mode="indeterminate"></md-progress-linear>
        </div>

        
    <iframe id="ifmGoogleMAp" width="600"
            height="450"
            frameborder="0" style="border:0"
            ng-src="{{mapurl}}" ng-show="mapurl" onload="abc()">
    </iframe>


    </div> 
    <p>Posted By:<a href="#/view/user/{{post.postedBy._id}}">{{post.postedBy.username}}</a></p>
    <p>Cost: ${{post.cost}}</p>
    <p>Number of Passengers: {{post.numberOfPassenger}}</p>
    <p>Other details: {{post.memo}}</p>
    
    <p>Comments:</p>
    <ul>
        <li ng-repeat="c in post.comments">
            {{c.comment}} by <a href="#/view/user/{{c.commentedBy._id}}">{{c.commentedBy.username}}</a>
        </li>
    </ul>
        
    <textarea ng-disabled="!currentUser || post.isClose" id="post" class="form-control" ng-model="newcomment.comment" placeholder="Add a comment"></textarea>
    <button ng-hide="!currentUser || post.isClose" ng-click="addComment(newcomment)">Add comment</button>
    <br />
    <button ng-show="post.postedBy._id === currentUser._id && !post.isClose"  ng-click="close()">Close</button>
    <button ng-show="post.postedBy._id === currentUser._id" ng-click="deletePost()">Delete</button>
    -->
</div>