<div ng-init="initialize()">
    <div class="container">

        <h1 class="md-display-1">Share a new post..</h1>

        <form class="add-post" name="postForm">

            <label for="title" class="sr-only">Title </label>
            <input required id="title" class="form-control" ng-model="newpost.title" placeholder="Title" autofocus ng-required="true" />
            <br />
            <label for="post" class="sr-only">Content </label>
            <textarea required id="post" class="form-control" ng-model="newpost.content" placeholder="Write a post" ng-required="true"></textarea>
            <br />

            <tags-input class="bootstrap"
                        ng-model="selectedTags"
                        placeholder="Add hashtags"
                        replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)"
                               min-length="0"
                               debounce-delay="0"
                               max-results="10">
                </auto-complete>
            </tags-input>
            <br />
            <button ng-disabled="!currentUser" class="btn btn-lg btn-success btn-block" ng-click="postForm.$valid && addPost(newpost)">Add New Post</button>

        </form>
    </div>
</div>
