<div ng-init="initialize()">
    <h2>User Profile</h2>
    <p>{{userProfile.username}}</p>
    
    <ul>
        Followers
        ({{userProfile.follower.length}})
        <li ng-repeat="f in userProfile.follower">
            <a href="#/view/user/{{f._id}}">{{f.username}}</a>
        </li>
    </ul>
    <ul>
        Following   
        ({{userProfile.following.length}})
        <li ng-repeat="f in userProfile.following">
            <a href="#/view/user/{{f._id}}">{{f.username}}</a>
            
        </li>
    </ul>
    
    <ul>
        Favorite Tags
        ({{userProfile.favorite.length}})
        <li ng-repeat="f in userProfile.favorite">
            <a href="#/view/tag/{{f._id}}">{{f.hashtag}}</a>

        </li>
    </ul>


    <div ng-show="!isUserProfileCurrentUser">
        <button ng-hide="isFollowing" ng-click="follow()">Follow</button>
        <button ng-show="isFollowing" ng-click="unfollow()">Unfollow</button>
    </div>
    <ul>
        <li ng-repeat="post in posts">
            Title:<a href="#/view/post/{{post._id}}">{{post.title}}</a>
            <p>Content:{{post.content}}</p>
            <p>PostedBy:{{post.postedBy.username}}</p>
            <p>Tags:</p>
            <ol>
                <li ng-repeat="tag in post.tags">
                    <a href="#/view/tag/{{tag._id}}">{{tag.hashtag}}</a>
                </li>
            </ol>
            <p>---------------</p>
            
        </li>
    </ul>
    
</div>