<! DOCTYPE html>
<html lang="en">
<head>
    <title>ADMIN</title>
    <meta charset="utf-8">
    <script src="../../javascript/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../javascript/bootstrap/bootstrap.js"></script>

    <script src="../../javascript/angular/angular.min.js"></script>
    <script src="../../javascript/angular/angular-route.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>


    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/codesnippets/sons-of-obsidian.css" />
    <script src="adminController.js"></script>

</head>
<body ng-app="adminApp">
    <div class="container" ng-controller="adminController">
        <div id="login" ng-show="!isAdminLoggedIn">
            <h1>ADMIN PORTAL</h1>
            <h2>Please login</h2>

            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" ng-model="loginuser.username">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="loginuser.password">
            </div>
            <button type="button" class="btn btn-success" ng-click="login(loginuser)">Sign in</button>
        </div>
        <div ng-show="isAdminLoggedIn">
            
            <button type="button" class="btn btn-danger pull-right" ng-click="logout()">Logout</button>
            
            <h2>Welcome Admin</h2>
            <h2>Please select one of the following tables</h2>
            <button type="button" class="btn btn-success btn-block" ng-click="changeView('user')">User</button>
            <button type="button" class="btn btn-warning btn-block" ng-click="changeView('tag')">Tag</button>
            <button type="button" class="btn btn-primary btn-block" ng-click="changeView('post')">Post</button>
            <button type="button" class="btn btn-info btn-block" ng-click="changeView('carpool')">Carpool</button>
            
            

            <div ng-show="view==='carpool' && isAdminLoggedIn">
                <h1 class="text-center">Carpool Manager</h1>
                <p style="color:red; text-align:center">Admin cannot add or update carpool post unlike other posts as source and destination can be an invalid address. Admin can delete posts.</p>
                
                    <table class="table table-responsive">

                        <colgroup>
                            <col style="width:10%" />
                            <col style="width:20%" />
                            <col style="width:20%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td><h3>User Name</h3></td>
                                <td><h3>Source</h3></td>
                                <td><h3>Destination</h3></td>
                                <td><h3>Date</h3></td>
                                <td><h3>Cost</h3></td>
                                <td><h3>Number Of Passenger</h3></td>
                                <td><h3>Memo</h3></td>
                                <td><h3>Creation Time</h3></td>
                            </tr>
                        </thead>
                        <tbody>
                           

                            <tr ng-repeat="carpool in carpools">
                                <td>{{carpool.postedBy.username}}</td>
                                <td>{{carpool.source}}</td>
                                <td>{{carpool.destination}}</td>
                                <td><span>{{carpool.date | date:'medium'}}</span></td>
                                <td>{{carpool.cost}}</td>
                                <td>{{carpool.numberOfPassenger}}</td>
                                <td>{{carpool.memo}}</td>
                                <td><span>{{carpool.createdAt | date:'short'}}</span></td>
                                <!--<td><span>{{post.createdAt | date:'medium'}}</span></td>-->
                                <td>
                                    <button ng-click="deleteCarpool(carpool._id)" class="btn btn-danger center-block" ng-disabled="!carpool || carpool.$invalid">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <!--
                    <td>
                        <button ng-click="edit(carpool)" class="btn btn-warning center-block" ng-disabled="!carpool || carpool.$invalid">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            <div ng-show="view==='post' && isAdminLoggedIn">
                <h1 class="text-center">Post Manager</h1>

                
                    <table class="table table-responsive">

                        <colgroup>
                            <col style="width:10%" />
                            <col style="width:20%" />
                            <col style="width:40%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td><h3>User Name</h3></td>
                                <td><h3>Title</h3></td>
                                <td><h3>Content</h3></td>
                                <td><h3>Creation Time</h3></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="selectedIndex||selectedIndex==0">
                                <td>
                                    <span id="username" style="background-color:lightgrey" class="form-control">{{post.postedBy.username}}</span>
                                </td>
                                <td>
                                    <textarea class="textarea-only-vertical-resize" style="width:100%" id="title" name="title" class="form-control" ng-model="post.title" placeholder="Title"></textarea>
                                </td>
                                <td>
                                    <textarea class="textarea-only-vertical-resize" style="width:100%" id="content" name="content" class="form-control" ng-model="post.content" placeholder="Content"></textarea>
                                </td>
                                <td>
                                    <span ng-show="selectedIndex||selectedIndex==0">{{post.createdAt | date:'short'}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-info" ng-click="clear()" ng-show="post.username">
                                        <span class="glyphicon glyphicon-repeat"></span> Clear
                                    </button>
                                </td>

                                <td>
                                 
                                    <button class="btn btn-warning" ng-click="update(post)" ng-show="selectedIndex||selectedIndex==0">
                                        <span class="glyphicon glyphicon-upload"></span> Update Post
                                    </button>
                                </td>
                            </tr>

                            <tr ng-repeat="post in posts">
                                <td>{{post.postedBy.username}}</td>
                                <td>{{post.title}}</td>
                                <td>{{post.content}}</td>
                                <td><span>{{post.createdAt | date:'medium'}}</span></td>
                                <td>
                                    <button ng-click="delete(post._id)" class="btn btn-danger center-block" ng-disabled="!post || post.$invalid">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="edit(post)" class="btn btn-warning center-block" ng-disabled="!post || post.$invalid">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div ng-show="view==='tag' && isAdminLoggedIn">
                <h1 class="text-center">Tag Manager</h1>

                    <table class="table table-responsive">

                        <colgroup>
                            <col style="width:40%" />
                            <col style="width:40%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td><h3>Hashtag</h3></td>
                                <td><h3>Creation Time</h3></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="hashtag" name="hashtag" class="form-control" ng-model="tag.hashtag" placeholder="hashtag" />
                                </td>
                                <td>
                                    <span class="form-control" style="background-color:lightgrey" ng-show="selectedIndex||selectedIndex==0">{{tag.creationDateTime | date:'medium'}}</span>
                                </td>

                                <td>
                                    <button class="btn btn-info" ng-click="clearTag()" ng-show="tag.hashtag">
                                        <span class="glyphicon glyphicon-repeat"></span> Clear
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-success" ng-click="addTag(tag)" ng-show="! (selectedIndex || selectedIndex==0)" ng-disabled="!tag || form.$invalid">
                                        <span class="glyphicon glyphicon-ok-sign"></span> Add Tags
                                    </button>
                                    <button class="btn btn-warning" ng-click="updateTag(tag)" ng-show="selectedIndex||selectedIndex==0">
                                        <span class="glyphicon glyphicon-upload"></span> Update Tags
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat="tag in tags">
                                <td>{{tag.hashtag}}</td>
                                <td><span>{{tag.creationDateTime | date:'medium'}}</span></td>
                                <td>
                                    <button ng-click="deleteTag(tag._id)" class="btn btn-danger center-block">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="editTag(tag._id)" class="btn btn-warning center-block">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div ng-show="view==='user' && isAdminLoggedIn">
                <h1 class="text-center">User Manager</h1>

                    <table class="table table-responsive">

                        <colgroup>
                            <col style="width:30%" />
                            <col style="width:30%" />
                            <col style="width:20%" />
                            <col style="width:10%" />
                            <col style="width:10%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td><h3>User Name</h3></td>
                                <td><h3>Password</h3></td>
                                <td><h3>Creation Time</h3></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" />
                                </td>
                                <td>
                                    <input id="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" />
                                </td>
                                <td>
                                    <span class="form-control" style="background-color:lightgrey" ng-show="selectedIndex||selectedIndex==0">{{user.creationDateTime | date:'medium'}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-info" ng-click="clearUser()" ng-show="user.username">
                                        <span class="glyphicon glyphicon-repeat"></span> Clear
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-success" ng-click="addUser(user)" ng-show="! (selectedIndex || selectedIndex==0)" ng-disabled="!user || user.$invalid">
                                        <span class="glyphicon glyphicon-ok-sign"></span> Add User
                                    </button>
                                    <button class="btn btn-warning" ng-click="updateUser(user)" ng-show="selectedIndex||selectedIndex==0">
                                        <span class="glyphicon glyphicon-upload"></span> Update User
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat="user in users">
                                <td>{{user.username}}</td>
                                <td>{{user.password}}</td>
                                <td><span>{{user.creationDateTime | date:'medium'}}</span></td>
                                <td>
                                    <button ng-click="deleteUser(user._id)" class="btn btn-danger center-block">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="editUser(user._id)" class="btn btn-warning center-block">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
</body>
</html>